<p id="notice"><%= notice %></p>

<%= form_tag baixa_product_path(@product), :method => :post %>
  Quantida a dar baixar: <input type="text" name="baixa" /><br/>
  <input type="submit" value="Dar baixa" />
</form>

<%= link_to 'Voltar', products_path %>
